/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        //backspace, layer 1

        layer_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;

            display-name = "hold_layer_tap_kp";
        };

        letter_tap: letter_h_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;

            display-name = "letter_tap_hold_feat";
        };

        ide_f_u: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "find_usage";
            #binding-cells = <0>;
            bindings = <&kp LG(B)>, <&kp LG(LA(B))>;

            display-name = "ide_find_usage";
        };

        ide_r_file: ide_result_file {
            compatible = "zmk,behavior-tap-dance";
            label = "recent_file";
            #binding-cells = <0>;
            bindings = <&kp LG(E)>, <&shift_shift>;

            display-name = "ide_recent_file";
        };

        td_mt_win: tap_dance_mod_tap_win {
            compatible = "zmk,behavior-tap-dance";
            label = "hold_to_restore_browser_page";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LS(LC(T)) LG(E)>, <&shift_shift>;
        };

        td_mt_mac: tap_dance_mod_tap_mac {
            compatible = "zmk,behavior-tap-dance";
            label = "ide_recent_file_and_restore_browser_page";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LS(LG(T)) LG(E)>, <&shift_shift>;
        };

        ptt_mode: ptt_mode {
            compatible = "zmk,behavior-tap-dance";
            label = "PTT_MODE";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
			bindings = <&kp A>, <&kp B>;
        };
    };
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ {
    macros {
        lp: login_code {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U &kp N4 &kp J &kp O &kp N3 &kp N2 &kp K &kp N7>;
            label = "lp";
        };

        file_path: file_path {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F1)>, <&macro_wait_time 100>, <&kp N1>;

            label = "file_path";
        };

        shift_shift: shift_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT &kp LEFT_SHIFT>;
            label = "SHIFT_SHIFT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | GRAVE   |  1  |  2  |  3   |  4   |  5   |                  |  6   |  7    |  8    |  9   |   0   |   `   |
            // | W(WIN OS) |  Q  |  W  |  E   |  R   |  T   |                  |  Y   |  U    |  I    |  O   |   |  |   -   |
            // | TAB    |  A  |  S  |  D   |  F   |  G   |                  |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | sw app |  Z  |  X  |  C   |  V   |  B   | trans |  | trans |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                 | ctl esc  | LANG_L3  | BS_L1 | trans |  | trans | SPACE_L2 | ENTER_L4  | GUI   |

            bindings = <
&kp GRAVE        &kp N1                  &kp N2  &kp N3         &kp N4                    &kp N5                                    &kp N6              &kp N7              &kp N8                      &kp N9                    &kp N0                  &kp DELETE
&kp W            &kp Q                   &kp W   &kp F          &kp P                     &kp B                                     &kp J               &kp L               &kp U                       &kp Y                     &kp PIPE                &kp SEMI
&kp TAB          &kp A                   &kp R   &kp S          &kp T                     &kp G                                     &kp M               &kp N               &kp E                       &kp I                     &kp O                   &kp MINUS
&kp LC(LA(TAB))  &letter_tap LEFT_ALT X  &kp C   &kp D          &letter_tap LEFT_SHIFT V  &mt LCTRL Z             &trans    &trans  &kp K               &kp H               &letter_tap LEFT_GUI COMMA  &letter_tap LEFT_ALT DOT  &letter_tap LCTRL FSLH  &letter_tap RSHFT BACKSLASH
                                                 &mt LCTRL ESC  &layer_tap 8 LEFT_SHIFT   &layer_tap 2 BACKSPACE  &trans    &trans  &layer_tap 4 SPACE  &layer_tap 6 ENTER  &sk LSHFT
            >;
        };

        default_mac_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | GRAVE  |  1  |  2  |  3   |  4   |  5   |                  |  6   |  7    |  8    |  9   |   0   |   `   |
            // |        |  Q  |  W  |  E   |  R   |  T   |                  |  Y   |  U    |  I    |  O   |   |  |   -   |
            // | CTRL   |  A  |  S  |  D   |  F   |  G   |                  |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SH+TAB |  Z  |  X  |  C   |  V   |  B   | trans |  | trans |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                 | ALT  | LANG_L3  | BS_L1 | trans |  | trans | SPACE_L2 | ENTER_L4  | GUI   |

            bindings = <
&trans       &trans                  &trans  &trans        &trans                    &trans                                    &trans              &trans              &trans                   &trans                    &trans                  &trans
&kp A        &trans                  &trans  &trans        &trans                    &trans                                    &trans              &trans              &trans                   &trans                    &trans                  &trans
&kp TAB      &trans                  &trans  &trans        &trans                    &trans                                    &trans              &trans              &trans                   &trans                    &trans                  &trans
&kp LS(TAB)  &letter_tap LEFT_ALT X  &kp C   &kp D         &letter_tap LEFT_SHIFT V  &mt LCTRL Z             &trans    &trans  &kp K               &kp H               &letter_tap LCTRL COMMA  &letter_tap LEFT_ALT DOT  &letter_tap LCTRL FSLH  &letter_tap RSHFT BACKSLASH
                                             &mt LGUI ESC  &layer_tap 7 CAPS         &layer_tap 3 BACKSPACE  &trans    &trans  &layer_tap 5 SPACE  &layer_tap 6 ENTER  &sk LSHIFT
            >;
        };

        ft_num_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |    |       |      |      |       |       |                   |     |       |       |      |       |       |
            // |    | rpl   | find |      |       |       |                   |  +  |  7  |  8  |  9  |  %   |     |
            // |    |slt All| cut  | copy | paste | ENTER |                   |  -  |  4  |  5  |  6  |  *   |     |
            // |    |       |      |      |       |       |        |  |       |  =  |  1  |  2  |  3  |  /   |     |
            //                     |      |       |       |        |  |       |  0  |  .  |  :  |

            bindings = <
&trans  &trans     &trans     &trans         &trans     &trans                        &trans       &trans   &trans     &trans  &trans     &trans
&trans  &trans     &kp LC(R)  &kp LC(F)      &trans     &kp LA(F4)                    &kp KP_PLUS  &kp N7   &kp N8     &kp N9  &kp PRCNT  &trans
&trans  &kp LC(A)  &kp LC(X)  &kp LC(C)      &kp LC(V)  &kp ENTER                     &kp MINUS    &kp N4   &kp N5     &kp N6  &kp ASTRK  &trans
&trans  &trans     &trans     &kp LC(LS(Z))  &kp LC(Z)  &trans      &trans    &trans  &kp EQUAL    &kp N1   &kp N2     &kp N3  &kp FSLH   &trans
                              &trans         &trans     &trans      &trans    &trans  &kp N0       &kp DOT  &kp COLON
            >;
        };

        ft_num_MAC_4 {
            // ------------------------------------------------------------------------------------------------------------
            // |    |       |      |      |       |       |                   |     |       |       |      |       |       |
            // |    | rpl   | find |      |       |       |                   |  +  |  7  |  8  |  9  |  %   |     |
            // |    |slt All| cut  | copy | paste | ENTER |                   |  -  |  4  |  5  |  6  |  *   |     |
            // |    |       |      |      |       |       |        |  |       |  =  |  1  |  2  |  3  |  /   |     |
            //                     |      |       |       |        |  |       |  0  |  .  |  :  |

            bindings = <
&trans          &trans        &trans         &trans         &trans     &trans                                                   &trans       &trans  &trans  &trans  &trans     &trans
&trans          &trans        &kp LG(R)      &kp LG(F)      &trans     &mt LC(LS(NUMBER_4)) LS(LG(NUMBER_4))                    &kp KP_PLUS  &kp N7  &kp N8  &kp N9  &kp PRCNT  &trans
&trans          &kp LG(A)     &kp LG(X)      &kp LG(C)      &kp LG(V)  &kp ENTER                                                &kp MINUS    &kp N4  &kp N5  &kp N6  &kp ASTRK  &trans
&kp LEFT_SHIFT  &kp LC(LEFT)  &kp LC(RIGHT)  &kp LG(LS(Z))  &kp LG(Z)  &trans                                 &trans    &trans  &kp EQUAL    &kp N1  &kp N2  &kp N3  &kp FSLH   &trans
                                             &trans         &trans     &trans                                 &trans    &trans  &kp N0       &trans  &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |     |     |     |     |     |     |                   |       |       |     |      |       |       |
            // |  '  |  ^  |  `  |  ~  |  {  |  }  |                   | HOME  |  PAGE_UP    |  ^        |            |       |    |
            // |  "  |  !  |  @  |  =  |  (  |  )  |                   | HOME  |  <-         |  v        |  ->        |  END  |    |
            // |  #  |  $  |  &  |  |  |  [  |  ]  |        |  |       | END   |  PAGE_DOWN  |  LCT_LEFT |  LCT_RIGHT |       |    |
            //                   |  CTR_BACK | LSH |        |  |       |   |   |   |  |

            bindings = <
&trans             &trans      &trans         &trans             &trans      &trans                      &trans    &trans         &trans        &trans         &trans   &ptt_mode
&kp SQT            &kp CARET   &kp GRAVE      &kp TILDE          &kp LBRC    &kp RBRC                    &kp HOME  &kp PAGE_UP    &kp UP        &trans         &trans   &trans
&kp DOUBLE_QUOTES  &kp EXCL    &kp AT_SIGN    &kp EQUAL          &kp LPAR    &kp RPAR                    &kp HOME  &kp LEFT       &kp DOWN      &kp RIGHT      &kp END  &trans
&kp HASH           &kp DOLLAR  &kp AMPERSAND  &kp PIPE           &kp LBKT    &kp RBKT  &trans    &trans  &kp END   &kp PAGE_DOWN  &kp LC(LEFT)  &kp LC(RIGHT)  &trans   &trans
                                              &kp LC(BACKSPACE)  &kp LSHIFT  &trans    &trans    &trans  &trans    &trans         &trans
            >;
        };

        layer_MAC_5 {
            // ------------------------------------------------------------------------------------------------------------
            // |     |     |     |     |     |     |                   |         |       |     |     |       |       |
            // |  '  |  ^  |  `  |  ~  |  {  |  }  |                   | HOME    |  PAGE_UP    |  ^       |            |       |    |
            // |  "  |  !  |  @  |  =  |  (  |  )  |                   | LG_LEFT |  <-         |  v       |  ->        |  LG_RIGHT  |    |
            // |  #  |  $  |  &  |  |  |  [  |  ]  |        |  |       | END     |  PAGE_DOWN  |  LA_LEFT |  LA_RIGHT  |       |    |
            //                   |  CTR_BACK | LSH |        |  |       |   |   |   |  |

            bindings = <
&trans             &trans      &trans         &trans             &trans      &trans                              &trans        &trans         &trans        &trans         &trans         &trans
&kp SQT            &kp CARET   &kp GRAVE      &kp TILDE          &kp LBRC    &kp RBRC                            &kp HOME      &kp PAGE_UP    &kp UP        &trans         &trans         &trans
&kp DOUBLE_QUOTES  &kp EXCL    &kp AT_SIGN    &kp EQUAL          &kp LPAR    &kp RPAR                            &kp LG(LEFT)  &kp LEFT       &kp DOWN      &kp RIGHT      &kp LG(RIGHT)  &trans
&kp HASH           &kp DOLLAR  &kp AMPERSAND  &kp PIPE           &kp LBKT    &kp RBKT          &trans    &trans  &kp END       &kp PAGE_DOWN  &kp LA(LEFT)  &kp LA(RIGHT)  &trans         &trans
                                              &kp LA(BACKSPACE)  &kp LSHIFT  &kp LS(LEFT_GUI)  &trans    &trans  &trans        &trans         &trans
            >;
        };

        BT_conf {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &trans  &trans  &trans      &trans                            &trans  &trans  &trans  &trans  &trans  &trans
&tog 1        &trans        &trans  &trans  &trans      &trans                            &trans  &kp F7  &kp F8  &kp F9  &trans  &trans
&trans        &trans        &trans  &trans  &trans      &trans                            &trans  &kp F4  &kp F5  &kp F6  &trans  &trans
&trans        &trans        &trans  &trans  &trans      &trans          &trans    &trans  &trans  &kp F1  &kp F2  &kp F3  &trans  &lp
                                    &trans  &caps_word  &kp LEFT_SHIFT  &trans    &trans  &trans  &trans  &trans
            >;
        };

        ide_mac {
            bindings = <
&trans  &trans         &trans     &trans                 &trans                &trans                           &trans     &trans          &trans             &trans            &trans      &trans
&trans  &kp LG(TILDE)  &kp LG(P)  &kp LC(LS(TAB))        &kp LC(TAB)           &kp LG(LA(L))                    &trans     &trans          &kp QUESTION       &kp COLON         &kp DOLLAR  &trans
&trans  &kp LA(ENTER)  &kp LG(D)  &ide_f_u               &td_mt_mac            &file_path                       &trans     &trans          &kp DOUBLE_QUOTES  &kp SQT           &trans      &trans
&trans  &trans         &trans     &kp LG(RIGHT_BRACKET)  &kp LG(LEFT_BRACKET)  &trans         &trans    &trans  &kp EQUAL  &kp UNDERSCORE  &kp LESS_THAN      &kp GREATER_THAN  &trans      &trans
                                  &trans                 &trans                &trans         &trans    &trans  &trans     &trans          &trans
            >;
        };

        browser_win {
            bindings = <
&trans  &trans         &trans     &trans           &trans        &trans                           &trans     &trans          &trans             &trans            &trans      &trans
&trans  &kp LG(TILDE)  &kp LG(P)  &kp LC(LS(TAB))  &kp LC(TAB)   &kp LG(LA(L))                    &trans     &trans          &kp QUESTION       &kp COLON         &kp DOLLAR  &trans
&trans  &kp LA(ENTER)  &kp LG(D)  &ide_f_u         &td_mt_win    &file_path                       &trans     &trans          &kp DOUBLE_QUOTES  &kp SQT           &trans      &trans
&trans  &trans         &trans     &kp LA(RIGHT)    &kp LA(LEFT)  &trans         &trans    &trans  &kp EQUAL  &kp UNDERSCORE  &kp LESS_THAN      &kp GREATER_THAN  &trans      &trans
                                  &trans           &trans        &trans         &trans    &trans  &trans     &trans          &trans
            >;
        };
    };
};
