/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>


#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        //backspace, layer 1

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;

            display-name = "tap-layer";
        };

        ide_f_u: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "find_usage";
            #binding-cells = <0>;
            bindings = <&kp LG(B)>, <&kp LG(LA(B))>;

            display-name = "ide_find_usage";
        };

        ide_r_file: tap_dance2 {
            compatible = "zmk,behavior-tap-dance";
            label = "recent_file";
            #binding-cells = <0>;
            bindings = <&kp LG(E)>, <&kp LS(LG(T))>;

            display-name = "ide_recent_file";
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | GRAVE  |  1  |  2  |  3   |  4   |  5   |                  |  6   |  7    |  8    |  9   |   0   |   `   |
            // |        |  Q  |  W  |  E   |  R   |  T   |                  |  Y   |  U    |  I    |  O   |   |  |   -   |
            // | CTRL   |  A  |  S  |  D   |  F   |  G   |                  |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SH+TAB |  Z  |  X  |  C   |  V   |  B   | trans |  | trans |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                 | ALT  | LANG_L3  | BS_L1 | trans |  | trans | SPACE_L2 | ENTER_L4  | GUI   |

            bindings = <
&kp GRAVE    &kp N1  &kp N2  &kp N3         &kp N4     &kp N5                             &kp N6       &kp N7       &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp W        &kp Q   &kp W   &kp F          &kp P      &kp B                              &kp J        &kp L        &kp U      &kp Y    &kp PIPE  &kp SEMI
&kp LA(TAB)  &kp A   &kp R   &kp S          &kp T      &kp G                              &kp M        &kp N        &kp E      &kp I    &kp O     &kp MINUS
&kp LS(TAB)  &kp X   &kp C   &kp D          &kp V      &kp Z            &trans    &trans  &kp K        &kp H        &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                             &mt LCTRL ESC  &kp LSHFT  &ht 2 BACKSPACE  &trans    &trans  &ht 4 SPACE  &ht 6 ENTER  &sk LSHFT
            >;
        };

        default_mac_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | GRAVE  |  1  |  2  |  3   |  4   |  5   |                  |  6   |  7    |  8    |  9   |   0   |   `   |
            // |        |  Q  |  W  |  E   |  R   |  T   |                  |  Y   |  U    |  I    |  O   |   |  |   -   |
            // | CTRL   |  A  |  S  |  D   |  F   |  G   |                  |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SH+TAB |  Z  |  X  |  C   |  V   |  B   | trans |  | trans |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                 | ALT  | LANG_L3  | BS_L1 | trans |  | trans | SPACE_L2 | ENTER_L4  | GUI   |

            bindings = <
&trans   &trans  &trans  &trans        &trans       &trans                             &trans       &trans       &trans      &trans  &trans  &trans
&kp A    &trans  &trans  &trans        &trans       &trans                             &trans       &trans       &trans      &trans  &trans  &trans
&kp TAB  &trans  &trans  &trans        &trans       &trans                             &trans       &trans       &trans      &trans  &trans  &trans
&trans   &trans  &trans  &trans        &trans       &trans           &trans    &trans  &trans       &trans       &trans      &trans  &trans  &trans
                         &mt LGUI ESC  &ht 7 LSHFT  &ht 3 BACKSPACE  &trans    &trans  &ht 4 SPACE  &ht 6 ENTER  &sk LSHIFT
            >;
        };

        ft_num_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |    |       |      |      |       |       |                   |     |       |       |      |       |       |
            // |    | rpl   | find |      |       |       |                   |  +  |  7  |  8  |  9  |  %   |     |
            // |    |slt All| cut  | copy | paste | ENTER |                   |  -  |  4  |  5  |  6  |  *   |     |
            // |    |       |      |      |       |       |        |  |       |  =  |  1  |  2  |  3  |  /   |     |
            //                     |      |       |       |        |  |       |  0  |  .  |  :  |

            bindings = <
&trans  &trans     &trans     &trans         &trans     &trans                       &trans       &trans  &trans  &trans  &trans     &trans
&trans  &trans     &kp LC(R)  &kp LC(F)      &trans     &trans                       &kp KP_PLUS  &kp N7  &kp N8  &kp N9  &kp PRCNT  &trans
&trans  &kp LC(A)  &kp LC(X)  &kp LC(C)      &kp LC(V)  &kp ENTER                    &kp MINUS    &kp N4  &kp N5  &kp N6  &kp ASTRK  &trans
&trans  &trans     &trans     &kp LC(LS(Z))  &kp LC(Z)  &trans     &trans    &trans  &kp EQUAL    &kp N1  &kp N2  &kp N3  &kp RBKT   &kp FSLH
                              &trans         &trans     &trans     &trans    &trans  &kp N0       &trans  &trans
            >;
        };

        ft_num_MAC_4 {
            // ------------------------------------------------------------------------------------------------------------
            // |    |       |      |      |       |       |                   |     |       |       |      |       |       |
            // |    | rpl   | find |      |       |       |                   |  +  |  7  |  8  |  9  |  %   |     |
            // |    |slt All| cut  | copy | paste | ENTER |                   |  -  |  4  |  5  |  6  |  *   |     |
            // |    |       |      |      |       |       |        |  |       |  =  |  1  |  2  |  3  |  /   |     |
            //                     |      |       |       |        |  |       |  0  |  .  |  :  |

            bindings = <
&trans          &trans        &trans         &trans         &trans     &trans                                                   &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &kp LG(R)      &kp LG(F)      &trans     &mt LC(LS(NUMBER_4)) LS(LG(NUMBER_4))                    &trans  &trans  &trans  &trans  &trans  &trans
&trans          &kp LG(A)     &kp LG(X)      &kp LG(C)      &kp LG(V)  &kp ENTER                                                &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LC(LEFT)  &kp LC(RIGHT)  &kp LG(LS(Z))  &kp LG(Z)  &trans                                 &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                             &trans         &trans     &trans                                 &trans    &trans  &trans  &trans  &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |     |     |     |     |     |     |                   |       |       |     |      |       |       |
            // |  '  |  ^  |  `  |  ~  |  {  |  }  |                   | HOME  |  PAGE_UP    |  ^        |            |       |    |
            // |  "  |  !  |  @  |  =  |  (  |  )  |                   | HOME  |  <-         |  v        |  ->        |  END  |    |
            // |  #  |  $  |  &  |  |  |  [  |  ]  |        |  |       | END   |  PAGE_DOWN  |  LCT_LEFT |  LCT_RIGHT |       |    |
            //                   |  CTR_BACK | LSH |        |  |       |   |   |   |  |

            bindings = <
&trans             &trans      &trans         &trans             &trans      &trans                      &trans    &trans         &trans        &trans         &trans   &trans
&kp SQT            &kp CARET   &kp GRAVE      &kp TILDE          &kp LBRC    &kp RBRC                    &kp HOME  &kp PAGE_UP    &kp UP        &trans         &trans   &trans
&kp DOUBLE_QUOTES  &kp EXCL    &kp AT_SIGN    &kp EQUAL          &kp LPAR    &kp RPAR                    &kp HOME  &kp LEFT       &kp DOWN      &kp RIGHT      &kp END  &trans
&kp HASH           &kp DOLLAR  &kp AMPERSAND  &kp PIPE           &kp LBKT    &kp RBKT  &trans    &trans  &kp END   &kp PAGE_DOWN  &kp LC(LEFT)  &kp LC(RIGHT)  &trans   &trans
                                              &kp LC(BACKSPACE)  &kp LSHIFT  &trans    &trans    &trans  &trans    &trans         &trans
            >;
        };

        layer_MAC_5 {
            // ------------------------------------------------------------------------------------------------------------
            // |     |     |     |     |     |     |                   |         |       |     |     |       |       |
            // |  '  |  ^  |  `  |  ~  |  {  |  }  |                   | HOME    |  PAGE_UP    |  ^       |            |       |    |
            // |  "  |  !  |  @  |  =  |  (  |  )  |                   | LG_LEFT |  <-         |  v       |  ->        |  LG_RIGHT  |    |
            // |  #  |  $  |  &  |  |  |  [  |  ]  |        |  |       | END     |  PAGE_DOWN  |  LA_LEFT |  LA_RIGHT  |       |    |
            //                   |  CTR_BACK | LSH |        |  |       |   |   |   |  |

            bindings = <
&trans  &trans  &trans  &trans             &trans      &trans                              &trans        &trans         &trans        &trans         &trans         &trans
&trans  &trans  &trans  &trans             &trans      &trans                              &kp HOME      &kp PAGE_UP    &kp UP        &trans         &trans         &trans
&trans  &trans  &trans  &trans             &trans      &trans                              &kp LG(LEFT)  &kp LEFT       &kp DOWN      &kp RIGHT      &kp LG(RIGHT)  &trans
&trans  &trans  &trans  &trans             &trans      &trans            &trans    &trans  &kp END       &kp PAGE_DOWN  &kp LA(LEFT)  &kp LA(RIGHT)  &trans         &trans
                        &kp LA(BACKSPACE)  &kp LSHIFT  &kp LS(LEFT_GUI)  &trans    &trans  &trans        &trans         &trans
            >;
        };

        BT_conf {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &trans  &trans  &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans        &tog 1        &trans  &trans  &trans     &trans                    &trans  &kp F7  &kp F8  &kp F9  &trans  &trans
&trans        &trans        &trans  &trans  &trans     &trans                    &trans  &kp F4  &kp F5  &kp F6  &trans  &trans
&trans        &trans        &trans  &trans  &trans     &trans  &trans    &trans  &trans  &kp F1  &kp F2  &kp F3  &trans  &trans
                                    &trans  &kp LSHFT  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        ide_mac {
            bindings = <
&trans  &trans         &trans     &trans                 &trans                &trans                    &trans     &trans         &trans         &trans         &trans        &trans
&trans  &kp LG(TILDE)  &kp LG(P)  &kp LC(LS(TAB))        &kp LC(TAB)           &trans                    &trans     &trans         &kp LS(QMARK)  &kp LS(COLON)  &kp LS(DLLR)  &trans
&trans  &kp LA(ENTER)  &kp LG(D)  &ide_f_u               &ide_r_file           &trans                    &trans     &trans         &kp LS(DQT)    &kp SQT        &trans        &trans
&trans  &trans         &trans     &kp LG(RIGHT_BRACKET)  &kp LG(LEFT_BRACKET)  &trans  &trans    &trans  &kp EQUAL  &kp LS(UNDER)  &kp LS(LT)     &kp LS(GT)     &trans        &trans
                                  &trans                 &trans                &trans  &trans    &trans  &trans     &trans         &trans
            >;
        };
    };
};

